@charset "utf-8";

body {
    font-family: 'Open Sans', 'sans-serif';
    font-size: 1.8em;
    padding-top: 7em;
    color: #000;
}

a {
    color: #000;
}

h1 {
    font-size: 3.3em;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 0.5em;
}


@media (min-width: 992px) {
    body {
        background-image: url('owl.svg');
        background-repeat: no-repeat;
        background-position: right top;
    }
}

@media (max-width: 768px) {
    body {
        padding-top: 3em;
    }
}
