@charset "utf-8";

body {
    font-family: 'Open Sans', 'sans-serif';
    font-size: 1.8em;
    padding-top: 7em;
}

a {
    color: #333;
}

h1 {
    font-size: 3.5em;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 0.5em;
}
